/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #f4f2e9;
}

/* Colors */
:root {
  --main-color: #f5b041;
  --second-color: #212f3d;
}
section {
  padding: 100px;
}
.hidden {
  display: none;
}
/* Home CSS */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Navbar CSS */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: 0.5s;
}
.logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--main-color);
  font-weight: 700;
}
.menu {
  display: flex;
}
ul li a {
  padding: 10px 22px;
  color: var(--second-color);
  border-radius: 2px;
  font-weight: 600;
  letter-spacing: 1px;
}
ul li a:hover {
  background: var(--main-color);
  color: #fff;
  border: none;
}
/* Home Text CSS */
.home-text {
  max-width: 500px;
}
.home-text h1 {
  color: var(--second-color);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  line-height: 5.5rem;
}
.home-text span {
  color: var(--main-color);
}
.home-image {
  width: 500px;
  height: 500px;
}
.home-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
/* Hire Me Button */
.home-text a {
  padding: 12px 34px;
  background: var(--main-color);
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
.home-text a:hover {
  background: var(--second-color);
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
}
/* Social */
.social {
  position: absolute;
  display: flex;
  bottom: 8%;
  left: 14%;
}
.social i {
  margin-right: 24px;
  font-size: 24px;
  color: var(--second-color);
}
.social i:hover {
  color: var(--main-color);
}
/* Heading */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 4rem;
}
.heading h2 {
  color: var(--second-color);
  border-bottom: 3px solid var(--second-color);
  font-size: 1.8rem;
}
.heading p {
  color: var(--second-color);
  margin-top: 0.5rem;
}
.experience-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}
.experience-image {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experience-image img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.experience-company {
  font-size: 0.8rem;
  text-align: center;
}
.experience-text {
  width: 72%;
  justify-content: center;
  margin-left: 80px;
}
.experience-text .experience-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.experience-text h1 {
  font-size: 1.5rem;
  color: var(--second-color);
}
.experience-text h2 {
  font-size: 1rem;
  color: var(--second-color);
}
.experience-text p {
  color: var(--second-color);
  margin: 5px 0 24px;
  /* text-align: justify; */
  line-height: 1.8rem;
}
.experience-text a {
  padding: 12px 20px;
  background: var(--main-color);
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
.experience-text a:hover {
  background: var(--second-color);
  box-shadow: 0 10px 34px rgba(0, 0, 0, 0.14);
}
.experience-portfolio {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0 4rem;
}
.experience-portfolio img {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.372);
}
.experience-portfolio .experience-box {
  padding: 10px;
  text-align: center;
  max-width: 320px;
}
/* work image hover effect start */
.experience-box {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
}

.experience-box img {
  width: 100%;
  height: auto;
  display: block;
}
.experience-box:hover {
  transform: translate(-10px, -10px); /* 圖片左上偏移的效果 */
}
/* work image hover effect end */

.reviews-container {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 560px;
  overflow: hidden;
  display: flex;
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0));
}

@keyframes scrollleft {
  to {
    left: -330px;
  }
}

.reviews-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1536px;
  height: 560px;
  margin-inline: auto;
}

.reviews-box {
  height: 520px;
  width: 330px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: max(calc(330px * 5), 100%);
  animation-name: scrollleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.reviews-container.paused, 
.reviews-container:hover .reviews-box
{
  animation-play-state: paused;
}

.reviews-box1 {
  animation-delay: calc(30s / 5 * ( 5 - 1 ) * -1);
}
.reviews-box2 {
  animation-delay: calc(30s / 5 * ( 5 - 2 ) * -1);
}
.reviews-box3 {
  animation-delay: calc(30s / 5 * ( 5 - 3 ) * -1);
}
.reviews-box4 {
  animation-delay: calc(30s / 5 * ( 5 - 4 ) * -1);
}
.reviews-box5 {
  animation-delay: calc(30s / 5 * ( 5 - 5 ) * -1);
}

.review-img {
  position: absolute;
  top: 30px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  outline: 10px solid #f4f2e9;
  z-index: 2;
}
.review-bg {
  position: absolute;
  bottom: -30px;
  height: 450px;
  width: 330px;
  background-image: url(images/reviewBoxBg.svg);
  background-color: #fff;
  background-size: cover;
  border-radius: 150px 150px 0 0;
  text-align: center;
  padding: 0 20px;
}
.review-text img {
  height: 1.4rem;
}
.review-text {
  position: relative;
  top: 67px;
}
.review-role {
  font-size: 14px;
}
.review-name {
  font-size: 24px;
  font-weight: bold;
}
.review-content {
  text-align: center;
  padding: 5px 15px 0;
  font-size: 15px;
}
.skill-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 100%;
  color: var(--second-color);
}
.skill-box {
  text-align: center;
  width: 15%;
}
.skill-box .bx,
.skill-box .fa-solid {
  font-size: 3rem;
  padding: 3px 0;
}
.experience-portfolio .experience-box p {
  margin: 20px 1.5rem 0;
}
.portfolio-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.portfolio-content .box {
  max-width: 350px;
  height: 350px;
  text-align: center;
}
.box img {
  height: 350px;
}
.portfolio-subtitle {
  margin-top: 50px !important;
}
.portfolio-text {
  text-align: center;
}
.portfolio-content .presentation-box {
  max-width: 450px;
  text-align: center;
  margin: 20px;
}
.presentation-box img {
  max-height: 210px;
}
.portfolio-content .poster-box {
  max-width: 450px;
  text-align: center;
  margin: 20px;
}
.poster-box img {
  height: 400px;
}
.copyright {
  padding: 20px;
  background: var(--second-color);
  color: #fff;
  text-align: center;
}
/* Melaleuca pic popup */
.fullscreen-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.fullscreen-popup img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.reviews-order-box {
  display: none;
}

/* Making Responsive */
@media (max-width: 991px) {
  nav {
    padding: 10px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 60px;
    right: 100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: var(--second-color);
    transition: 0.5s ease;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    right: 0;
  }
  nav ul li a {
    font-size: 35px;
    line-height: 80px;
    color: #fff;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    background: url(images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    cursor: pointer;
  }
  section {
    padding: 80px;
  }
  .home-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1.8rem;
    line-height: 4rem;
  }
  .home-image {
    width: 400px;
    height: 400px;
  }
  .social {
    left: 110px;
  }
  .heading h2 {
    font-size: 1.6rem;
  }
  .experience-image {
    width: 250px;
    height: 400px;
  }
  .experience-text {
    width: 400px;
  }
  .experience-text h1 {
    font-size: 1.3rem;
  }
  .experience-text p {
    line-height: 1.5rem;
  }
}
@media (max-width: 871px) {
  section {
    padding: 50px;
  }
}
@media (max-width: 800px) {
  section {
    padding: 35px;
  }
}
/* For Small Devices */
@media (max-width: 430px) {
  section {
    padding: 65px 35px 35px 35px;
  }
  #home {
    flex-direction: column;
  }
  .home-text {
    max-width: 400px;
    margin-top: 2rem;
  }
  .home-image {
    width: 345px;
    height: 400px;
  }
  .home-text h1 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
    line-height: 3rem;
  }
  .social i {
    margin: 0 15px;
  }
  .social {
    position: relative;
    left: 0;
    bottom: 0;
  }
  .heading {
    margin: 0 0 1rem;
  }
  .experience-content {
    flex-direction: column;
  }
  .experience-text {
    max-width: 280px;
    margin-left: 0;
  }
  .experience-image {
    height: 30vh;
  }
  .reviews-order-box {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .reviews-order{
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0.5rem;
    position: relative;
    color: #f5b041;
  }
  .reviews-order-box:active {
    top: 1px;
  }
  .reviews-order-box:focus {
    background: #000;
  }
  .reviews-container .reviews-box, .reviews-box{
  animation-play-state: paused;
  }
  #reviews {
    padding: 0;
  }
  .reviews-box {
    width: 420px;
    margin: 0 auto;
  }
  /* .reviews-container{
    width: 130%;
    left: -50px;
  } */
  /* .reviews-wrapper{
    right: -5px;
  } */
  .skill-box {
    width: 100px;
    padding-bottom: 1.2rem;
  }
  .skill-content {
    flex-wrap: wrap;
  }
  
}
